.nav--secondary {
    background: #006fba;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.6px;
}
.nav--secondary .level1 > li {
    display: none;
}
.nav--secondary .level1 > li.selected, .nav--secondary .level1 > li.expanded {
    display: block;
}
.nav--secondary .level1 > li.selected > a, .nav--secondary .level1 > li.expanded > a {
    display: none;
}
.nav--secondary .level2 {
    display: table;
    width: 100%;
}
.nav--secondary .level2 > li {
    position: relative;
    display: table-cell;
}
.nav--secondary .level2 > li:hover, .nav--secondary .level2 > li.selected, .nav--secondary .level2 > li.expanded {
    background: #005894;
}
.nav--secondary .level2 > li a {
    display: block;
    padding: 20px;
    font-size: 14px;
    font-size: 1.4rem;
}
.nav--secondary .level2 > li a:focus {
    outline: none;
}
.nav--secondary .level3 {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    min-width: 200px;
    border-top: 2px solid #fff;
}
.nav--secondary .level3 > li {
    text-align: left;
}
.nav--secondary .level3 > li a {
    background: #005894;
}
.nav--secondary .level3 > li a:hover, .nav--secondary .level3 > li a:focus {
    outline: none;
    background: #006fba;
}
.nav--secondary .level3 > li.selected a {
    background: #006fba;
}
@media only screen and (max-width: 1024px) {
    .nav--secondary {
        text-align: left;
    }
    .nav--secondary li {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
    .nav--secondary li.has-children > a:before {
        float: right;
        font-family: "q4-icons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\edbe";
    }
    .nav--secondary li.js--expanded > a:before {
        content: "\edc2";
    }
    .nav--secondary a {
        display: block;
        text-transform: uppercase;
        font-weight: normal;
    }
    .nav--secondary .level1 > li {
        display: block;
    }
    .nav--secondary .level1 > li.selected a, .nav--secondary .level1 > li.expanded a {
        display: block;
    }
    .nav--secondary .level1 > li.js--expanded {
        background: #005894;
    }
    .nav--secondary .level1 > li.js--expanded a {
        display: block;
    }
    .nav--secondary .level1 > li.js--expanded .level2 {
        display: block;
    }
    .nav--secondary .level1 > li > a {
        padding: 20px;
    }
    .nav--secondary .level2 {
        display: none;
    }
    .nav--secondary .level2 > li {
        display: block;
    }
    .nav--secondary .level2 > li.js--expanded .level3 {
        display: block;
    }
    .nav--secondary .level2 > li > a {
        padding: 20px 20px 20px 48px;
        font-size: 16px;
        font-size: 1.6rem;
    }
    .nav--secondary .level3 {
        position: static;
        border: none;
    }
    .nav--secondary .level3 > li {
        display: block;
    }
    .nav--secondary .level3 > li > a {
        padding: 20px 20px 20px 72px;
        font-size: 16px;
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 765px) and (orientation: landscape) {
    .nav--secondary {
        padding-bottom: 85px;
    }
}