@font-face {
  font-family: LLCircularWeb;
  src: url(../fonts/circular/lineto-circular-book-c.eot);
  src: url(../fonts/circular/lineto-circular-book-c.eot?#iefix) format("embedded-opentype"), url(../fonts/circular/lineto-circular-book-c.woff) format("woff"), url(../fonts/circular/lineto-circular-book-c.ttf) format("truetype"), url(../fonts/circular/lineto-circular-book-c.svg#LLCircularWeb-Book) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'LLCircularWeb';
  src: url(../fonts/circular/lineto-circular-medium-c.eot);
  src: url(../fonts/circular/lineto-circular-medium-c.eot?#iefix) format("embedded-opentype"), url(../fonts/circular/lineto-circular-medium-c.woff) format("woff"), url(../fonts/circular/lineto-circular-medium-c.ttf) format("truetype"), url(../fonts/circular/lineto-circular-medium-c.svg#LLCircularWeb-Medium) format("svg");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'LLCircularWeb';
  src: url(../fonts/circular/lineto-circular-bold-c.eot);
  src: url(../fonts/circular/lineto-circular-bold-c.eot?#iefix) format("embedded-opentype"), url(../fonts/circular/lineto-circular-bold-c.woff) format("woff"), url(../fonts/circular/lineto-circular-bold-c.ttf) format("truetype"), url(../fonts/circular/lineto-circular-bold-c.svg#LLCircularWeb-Bold) format("svg");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'LLCircularWeb';
  src: url(../fonts/circular/lineto-circular-black-c.eot);
  src: url(../fonts/circular/lineto-circular-black-c.eot?#iefix) format("embedded-opentype"), url(../fonts/circular/lineto-circular-black-c.woff) format("woff"), url(../fonts/circular/lineto-circular-black-c.ttf) format("truetype"), url(../fonts/circular/lineto-circular-black-c.svg#LLCircularWeb-Black) format("svg");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: 'LLCircularWeb';
  src: url(../fonts/circular/lineto-circular-bookitalic-c.eot);
  src: url(../fonts/circular/lineto-circular-bookitalic-c.eot?#iefix) format("embedded-opentype"), url(../fonts/circular/lineto-circular-bookitalic-c.woff) format("woff"), url(../fonts/circular/lineto-circular-bookitalic-c.ttf) format("truetype"), url(../fonts/circular/lineto-circular-bookitalic-c.svg#LLCircularWeb-Bookitalic) format("svg");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: 'LLCircularWeb';
  src: url(../fonts/circular/lineto-circular-mediumitalic-c.eot);
  src: url(../fonts/circular/lineto-circular-mediumitalic-c.eot?#iefix) format("embedded-opentype"), url(../fonts/circular/lineto-circular-mediumitalic-c.woff) format("woff"), url(../fonts/circular/lineto-circular-mediumitalic-c.ttf) format("truetype"), url(../fonts/circular/lineto-circular-mediumitalic-c.svg#LLCircularWeb-Mediumitalic) format("svg");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: 'LLCircularWeb';
  src: url(../fonts/circular/lineto-circular-bolditalic-c.eot);
  src: url(../fonts/circular/lineto-circular-bolditalic-c.eot?#iefix) format("embedded-opentype"), url(../fonts/circular/lineto-circular-bolditalic-c.woff) format("woff"), url(../fonts/circular/lineto-circular-bolditalic-c.ttf) format("truetype"), url(../fonts/circular/lineto-circular-bolditalic-c.svg#LLCircularWeb-Bolditalic) format("svg");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: 'LLCircularWeb';
  src: url(../fonts/circular/lineto-circular-blackitalic-c.eot);
  src: url(../fonts/circular/lineto-circular-blackitalic-c.eot?#iefix) format("embedded-opentype"), url(../fonts/circular/lineto-circular-blackitalic-c.woff) format("woff"), url(../fonts/circular/lineto-circular-blackitalic-c.ttf) format("truetype"), url(../fonts/circular/lineto-circular-blackitalic-c.svg#LLCircularWeb-Blackitalic) format("svg");
  font-weight: 800;
  font-style: italic
}


@keyframes subnav-before-in {
  0% {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0)
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes subnav-before-in {
  0% {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0)
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@keyframes subnav-after-in {
  0% {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0)
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes subnav-after-in {
  0% {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0)
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@keyframes subnav-before-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  100% {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0)
  }
}

@-webkit-keyframes subnav-before-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  100% {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0)
  }
}

@keyframes subnav-after-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  100% {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0)
  }
}

@-webkit-keyframes subnav-after-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  100% {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0)
  }
}



/****/

.menu>a {
  display: inline-block;
  height: 40px;
  line-height: 60px;
}

#topnav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  background: #3572b0;
  top: 60px;
  text-align: left;
  z-index: 99;
  padding-bottom: 10px;
}

#topnav a {
  color: #ffffff;
}

#topnav ul li>a {
  font-size: 18px;
  font-weight: 400;
  height: auto;
  letter-spacing: 0;
  line-height: 20px;
}

html.nav-open #topnav .topnav-toggle {
  font-family: LLCircularWeb-Bold, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 55px;
  padding-bottom: 0;
  padding-top: 0;
  text-transform: uppercase;
}

#topnav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

html.nav-open #topnav {
  display: block;
}

html.nav-open #topnav .column-link h3,
html.nav-open #topnav .mobile-only a,
html.nav-open #topnav .subnav-sidebar a.cms-link,
html.nav-open #topnav .topnav-link,
html.nav-open #topnav .topnav-toggle {
  color: #fff;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

html.nav-open #topnav .column-link h3,
html.nav-open #topnav .mobile-only a,
html.nav-open #topnav .subnav-sidebar a.cms-link,
html.nav-open #topnav .topnav-link {
  font-size: 18px;
  line-height: 42px;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
}

#topnav ul li section .column p,
#topnav ul li section .grid:after,
#topnav ul li section .grid:before,
#topnav ul li section li:after,
header #topnav ul li section li:before {
  display: none;
}

html.nav-open #topnav .column-link h3:active,
html.nav-open #topnav .column-link h3:hover,
html.nav-open #topnav .mobile-only a:active,
html.nav-open #topnav .mobile-only a:hover,
html.nav-open #topnav .subnav-sidebar a.cms-link:active,
html.nav-open header #topnav .subnav-sidebar a.cms-link:hover,
html.nav-open #topnav .topnav-link:active,
html.nav-open #topnav .topnav-link:hover,
html.nav-open #topnav .topnav-toggle:active,
html.nav-open #topnav .topnav-toggle:hover {
  background-color: #3068a1;
  color: #fff;
}

@media all and (min-width:641px) {
  #topnav {
    display: none!important;
  }
}

#mainNav li section.in.forward {
  -webkit-animation-name: subnav-after-in;
  animation-name: subnav-after-in
}

#mainNav li section.in.backward {
  -webkit-animation-name: subnav-before-in;
  animation-name: subnav-before-in
}

.blue-bg {
  background: #205081;
}

#topnav>ul>li>a.topnav-toggle {
  position: relative;
  font-weight: 700;
}

#topnav>ul>li>.white .grid {
  display: none;
}

#topnav>ul>li.active>.white .grid {
  display: block;
}

#topnav>ul>li>a.topnav-toggle:after {
  font-family: 'Q4-Default-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 30px;
  top: 18px;
  content: "\e64f";
  font-size: 16px;
  color: #ffffff;
}

#topnav>ul>li.active>a.topnav-toggle:after {
  content: "\e64a";
}

.annual-reps span.AnnualQuarterlyReportText {
  display: none;
}



/** Hide Balance Sheet columns **/

#tab3 table td:nth-child(3),
#tab3 table th:nth-child(3) {
  display: none;
}